html {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg,#0f52ba ,#B65FCF);
    /*  background: linear-gradient(20deg,#0f52ba 35%, rgb(221, 187, 187) 65%);*/
    font-family: verdana, monospace;
}

body {

}